.colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
    margin-bottom: 9px;
	background: url(../images/select2.png);
}
.colorSelector div {
	position: absolute;
    display: block;
	width: 28px;
	height: 28px;
    margin: 4px;
	background: url(../images/select2.png) center;
}
.colorpicker {
	background-image: url(../images/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
    z-index: 99;
}
.colorpicker_hue div {
	background-image: url(../images/custom_indic.gif);
}
.colorpicker_hex {
	background-image: url(../images/custom_hex.png);
}
.colorpicker_rgb_r {
	background-image: url(../images/custom_rgb_r.png);
}
.colorpicker_rgb_g {
	background-image: url(../images/custom_rgb_g.png);
}
.colorpicker_rgb_b {
	background-image: url(../images/custom_rgb_b.png);
}
.colorpicker_hsb_s {
	background-image: url(../images/custom_hsb_s.png);
	display: none;
}
.colorpicker_hsb_h {
	background-image: url(../images/custom_hsb_h.png);
	display: none;
}
.colorpicker_hsb_b {
	background-image: url(../images/custom_hsb_b.png);
	display: none;
}
.colorpicker_submit {
	background-image: url(../images/custom_submit.png);
}
.colorpicker input {
	color: #778398;
}