/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
        #Reset & Basics
        #Basic Styles
        #Site Styles
        #Typography
        #Links
        #Lists
        #Images
        #Buttons
        #Tabs
        #Forms
        #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
html{
    background-color: #ebebeb; 
}
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #363636;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 36px; line-height: 36px; margin-bottom: 9px;}
h2 { font-size: 30px; line-height: 36px; margin-bottom: 9px; }
h3 { font-size: 24px; line-height: 27px; margin-bottom: 18px; }
h4 { font-size: 18px; line-height: 18px; margin-bottom: 18px; }
h5 { font-size: 14px; line-height: 18px; margin-bottom: 18px; }
h6 { font-size: 12px; line-height: 18px; margin-bottom: 18px; }
.subheader { color: #959595; }

p { margin: 0 0 18px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #363636; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 18px; padding: 9px 18px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid orange; border-width: 1px 0 0; clear: both; margin: 0 0 18px 0; height: 0; }


/* #Links
================================================== */
a, a:visited { text-decoration: underline; outline: 0; }
a:hover, a:focus { text-decoration: none;}
p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
ul, ol { margin-bottom: 18px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 18px; }
ul.large li { line-height: 18px; }
li p { line-height: 18px; }

/* #Images
================================================== */

img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    /* background-color: #9ebf26; Old browsers */
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .4)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 100%); /* W3C */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
    /* border: 1px solid #9ebf26; */
    padding: 4px 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    cursor: pointer;
    margin-bottom: 18px;
    line-height: normal;
    padding: 8px 10px;
    font-family: sans-serif;
	min-width:70px; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255,.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #959595; /* Old browsers */
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(0,0,0,0) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(255,255,255,.4) 0%,rgba(0,0,0,0) 100%); /* W3C */
    border: 1px solid #959595;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* #Forms
================================================== */

form {
    margin-bottom: 18px; }
fieldset {
    margin-bottom: 18px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
.quoteform select,
select {
    border: 1px solid #ccc;
    padding: 5px 4px !important;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 12px;
    color: #707070;
    margin: 0;
    width: 210px;
    display: inline-block;
    margin-bottom: 18px !important;
    background: #fff; }
select {
    padding: 4px 4px !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #555;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    box-shadow:  0 0 3px rgba(0,0,0,.1); }
textarea {
	margin-bottom:5px !important;
    min-height: 80px; }
	
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
select {
    width: 218px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 9px !important; }
.add-bottom { margin-bottom: 18px !important; }


.commissioninfo {
	
padding-top: 15px;
margin-left:10px;
margin-right:10px;
}
.commissioninfo legend{
	margin-left:10px;
	margin-right:10px;
}

.quoteform input[type="text"],
.quoteform textarea,
.quoteform select
 {
	margin-bottom:2px !important;
}
