.callout-button{
    background-color: #959595 !important;
    border: 1px solid #959595 !important;
}
.color1{
    background-color: #e8be41 !important;
    border: 1px solid #e8be41 !important;
}
.color2{
    background-color: #00a692 !important;
    border: 1px solid #00a692 !important;
}
.color3{
    background-color: #005c5c !important;
    border: 1px solid #005c5c !important;
}
.color4{
    background-color: #5b7186 !important;
    border: 1px solid #5b7186 !important;
}
.color5{
    background-color: #b7b9bb !important;
    border: 1px solid #b7b9bb !important;
}
.color6{
    background-color: #6c6d6e !important;
    border: 1px solid #6c6d6e !important;
}
.color7{
    background-color: #7f9dbb !important;
    border: 1px solid #7f9dbb !important;
}
.color8{
    background-color: #3f89a6 !important;
    border: 1px solid #3f89a6 !important;
}
.color9{
    background-color: #d9d05b !important;
    border: 1px solid #d9d05b !important;
}
.color10{
    background-color: #d9b448 !important;
    border: 1px solid #d9b448 !important;
}
.color11{
    background-color: #d99748 !important;
    border: 1px solid #d99748 !important;
}
.color12{
    background-color: #7f6265 !important;
    border: 1px solid #7f6265 !important;
}
.color13{
    background-color: #ffa256 !important;
    border: 1px solid #ffa256 !important;
}
.color14{
    background-color: #aba73c !important;
    border: 1px solid #aba73c !important;
}
.color15{
    background-color: #94925b !important;
    border: 1px solid #94925b !important;
}
.color16{
    background-color: #dbb25a !important;
    border: 1px solid #dbb25a !important;
}
.color17{
    background-color: #9e5e4c !important;
    border: 1px solid #9e5e4c !important;
}
.color18{
    background-color: #c26c63 !important;
    border: 1px solid #c26c63 !important;
}
.color19{
    background-color: #d47878 !important;
    border: 1px solid #d47878 !important;
}
.color20{
    background-color: #b988ca !important;
    border: 1px solid #b988ca !important;
}
.color21{
    background-color: #96cf8a !important;
    border: 1px solid #96cf8a !important;
}