.icon_64 .add-blue{
    background-image: url(../Deck/70px/add-blue.png);
}
.icon_64 .add-green{
    background-image: url(../Deck/70px/add-green.png);
}
.icon_64 .archive{
    background-image: url(../Deck/70px/archive.png);
}
.icon_64 .arrow-down-blue{
    background-image: url(../Deck/70px/arrow-down-blue.png);
}
.icon_64 .arrow-down-green{
    background-image: url(../Deck/70px/arrow-down-green.png);
}
.icon_64 .arrow-left-blue{
    background-image: url(../Deck/70px/arrow-left-blue.png);
}
.icon_64 .arrow-left-green{
    background-image: url(../Deck/70px/arrow-left-green.png);
}
.icon_64 .arrow-right-blue{
    background-image: url(../Deck/70px/arrow-right-blue.png);
}
.icon_64 .arrow-right-green{
    background-image: url(../Deck/70px/arrow-right-green.png);
}
.icon_64 .arrow-up-blue{
    background-image: url(../Deck/70px/arrow-up-blue.png);
}
.icon_64 .arrow-up-green{
    background-image: url(../Deck/70px/arrow-up-green.png);
}
.icon_64 .blueprint{
    background-image: url(../Deck/70px/blueprint.png);
}
.icon_64 .bookmark{
    background-image: url(../Deck/70px/bookmark.png);
}
.icon_64 .bug{
    background-image: url(../Deck/70px/bug.png);
}
.icon_64 .bulletin-board{
    background-image: url(../Deck/70px/bulletin-board.png);
}
.icon_64 .calculator{
    background-image: url(../Deck/70px/calculator.png);
}
.icon_64 .calendar{
    background-image: url(../Deck/70px/calendar.png);
}
.icon_64 .chalkboard{
    background-image: url(../Deck/70px/chalkboard.png);
}
.icon_64 .chart-bar{
    background-image: url(../Deck/70px/chart-bar.png);
}
.icon_64 .chart-graph{
    background-image: url(../Deck/70px/chart-graph.png);
}
.icon_64 .checkbox{
    background-image: url(../Deck/70px/checkbox.png);
}
.icon_64 .clock{
    background-image: url(../Deck/70px/clock.png);
}
.icon_64 .color-picker{
    background-image: url(../Deck/70px/color-picker.png);
}
.icon_64 .comment{
    background-image: url(../Deck/70px/comment.png);
}
.icon_64 .compass{
    background-image: url(../Deck/70px/compass.png);
}
.icon_64 .contact{
    background-image: url(../Deck/70px/contact.png);
}
.icon_64 .copy{
    background-image: url(../Deck/70px/copy.png);
}
.icon_64 .credit-cards{
    background-image: url(../Deck/70px/credit-cards.png);
}
.icon_64 .cut{
    background-image: url(../Deck/70px/cut.png);
}
.icon_64 .dashboard{
    background-image: url(../Deck/70px/dashboard.png);
}
.icon_64 .database{
    background-image: url(../Deck/70px/database.png);
}
.icon_64 .delete{
    background-image: url(../Deck/70px/delete.png);
}
.icon_64 .download-blue{
    background-image: url(../Deck/70px/download-blue.png);
}
.icon_64 .download-green{
    background-image: url(../Deck/70px/download-green.png);
}
.icon_64 .edit{
    background-image: url(../Deck/70px/edit.png);
}
.icon_64 .envelop{
    background-image: url(../Deck/70px/envelop.png);
}
.icon_64 .file{
    background-image: url(../Deck/70px/file.png);
}
.icon_64 .finance{
    background-image: url(../Deck/70px/finance.png);
}
.icon_64 .first-aid{
    background-image: url(../Deck/70px/first-aid.png);
}
.icon_64 .folder{
    background-image: url(../Deck/70px/folder.png);
}
.icon_64 .gift{
    background-image: url(../Deck/70px/gift.png);
}
.icon_64 .harddrive{
    background-image: url(../Deck/70px/harddrive.png);
}
.icon_64 .help-blue{
    background-image: url(../Deck/70px/help-blue.png);
}
.icon_64 .help-green{
    background-image: url(../Deck/70px/help-green.png);
}
.icon_64 .highlight{
    background-image: url(../Deck/70px/highlight.png);
}
.icon_64 .history-blue{
    background-image: url(../Deck/70px/history-blue.png);
}
.icon_64 .history-green{
    background-image: url(../Deck/70px/history-green.png);
}
.icon_64 .home{
    background-image: url(../Deck/70px/home.png);
}
.icon_64 .info-blue{
    background-image: url(../Deck/70px/info-blue.png);
}
.icon_64 .info-green{
    background-image: url(../Deck/70px/info-green.png);
}
.icon_64 .invoice{
    background-image: url(../Deck/70px/invoice.png);
}
.icon_64 .ipad{
    background-image: url(../Deck/70px/ipad.png);
}
.icon_64 .iphone{
    background-image: url(../Deck/70px/iphone.png);
}
.icon_64 .ipod{
    background-image: url(../Deck/70px/ipod.png);
}
.icon_64 .key{
    background-image: url(../Deck/70px/key.png);
}
.icon_64 .keyboard{
    background-image: url(../Deck/70px/keyboard.png);
}
.icon_64 .laptop{
    background-image: url(../Deck/70px/laptop.png);
}
.icon_64 .loading{
    background-image: url(../Deck/70px/loading.png);
}
.icon_64 .lock{
    background-image: url(../Deck/70px/lock.png);
}
.icon_64 .love{
    background-image: url(../Deck/70px/love.png);
}
.icon_64 .magic-wand{
    background-image: url(../Deck/70px/magic-wand.png);
}
.icon_64 .mail{
    background-image: url(../Deck/70px/mail.png);
}
.icon_64 .mail2{
    background-image: url(../Deck/70px/mail2.png);
}
.icon_64 .mail-attachment{
    background-image: url(../Deck/70px/mail-attachment.png);
}
.icon_64 .mailbox{
    background-image: url(../Deck/70px/mailbox.png);
}
.icon_64 .mail-inbox{
    background-image: url(../Deck/70px/mail-inbox.png);
}
.icon_64 .mail-outbox{
    background-image: url(../Deck/70px/mail-outbox.png);
}
.icon_64 .map{
    background-image: url(../Deck/70px/map.png);
}
.icon_64 .monitor{
    background-image: url(../Deck/70px/Monitor.png);
}
.icon_64 .mouse{
    background-image: url(../Deck/70px/mouse.png);
}
.icon_64 .music{
    background-image: url(../Deck/70px/music.png);
}
.icon_64 .music2{
    background-image: url(../Deck/70px/music2.png);
}
.icon_64 .music3{
    background-image: url(../Deck/70px/music3.png);
}
.icon_64 .news{
    background-image: url(../Deck/70px/news.png);
}
.icon_64 .notepad{
    background-image: url(../Deck/70px/notepad.png);
}
.icon_64 .package{
    background-image: url(../Deck/70px/package.png);
}
.icon_64 .package-delivery{
    background-image: url(../Deck/70px/package-delivery.png);
}
.icon_64 .package-down{
    background-image: url(../Deck/70px/package-down.png);
}
.icon_64 .package-open{
    background-image: url(../Deck/70px/package-open.png);
}
.icon_64 .package-up{
    background-image: url(../Deck/70px/package-up.png);
}
.icon_64 .palette{
    background-image: url(../Deck/70px/palette.png);
}
.icon_64 .paste{
    background-image: url(../Deck/70px/paste.png);
}
.icon_64 .photo{
    background-image: url(../Deck/70px/photo.png);
}
.icon_64 .photo-album{
    background-image: url(../Deck/70px/photo-album.png);
}
.icon_64 .pie-chart{
    background-image: url(../Deck/70px/pie-chart.png);
}
.icon_64 .portfolio{
    background-image: url(../Deck/70px/portfolio.png);
}
.icon_64 .post-note{
    background-image: url(../Deck/70px/post-note.png);
}
.icon_64 .power{
    background-image: url(../Deck/70px/power.png);
}
.icon_64 .preference{
    background-image: url(../Deck/70px/preference.png);
}
.icon_64 .printer{
    background-image: url(../Deck/70px/printer.png);
}
.icon_64 .profile-id{
    background-image: url(../Deck/70px/profile-id.png);
}
.icon_64 .puzzle{
    background-image: url(../Deck/70px/puzzle.png);
}
.icon_64 .redo-blue{
    background-image: url(../Deck/70px/redo-blue.png);
}
.icon_64 .redo-green{
    background-image: url(../Deck/70px/redo-green.png);
}
.icon_64 .reload{
    background-image: url(../Deck/70px/reload.png);
}
.icon_64 .reload-green{
    background-image: url(../Deck/70px/reload-green.png);
}
.icon_64 .repeat-blue{
    background-image: url(../Deck/70px/repeat-blue.png);
}
.icon_64 .repeat-green{
    background-image: url(../Deck/70px/repeat-green.png);
}
.icon_64 .rss{
    background-image: url(../Deck/70px/rss.png);
}
.icon_64 .safe{
    background-image: url(../Deck/70px/safe.png);
}
.icon_64 .save{
    background-image: url(../Deck/70px/save.png);
}
.icon_64 .scan{
    background-image: url(../Deck/70px/scan.png);
}
.icon_64 .security{
    background-image: url(../Deck/70px/security.png);
}
.icon_64 .shopping-bag{
    background-image: url(../Deck/70px/shopping-bag.png);
}
.icon_64 .shopping-basket{
    background-image: url(../Deck/70px/shopping-basket.png);
}
.icon_64 .shuffle-blue{
    background-image: url(../Deck/70px/shuffle-blue.png);
}
.icon_64 .shuffle-green{
    background-image: url(../Deck/70px/shuffle-green.png);
}
.icon_64 .slideshow{
    background-image: url(../Deck/70px/slideshow.png);
}
.icon_64 .speaker{
    background-image: url(../Deck/70px/speaker.png);
}
.icon_64 .star{
    background-image: url(../Deck/70px/star.png);
}
.icon_64 .stop{
    background-image: url(../Deck/70px/stop.png);
}
.icon_64 .suit{
    background-image: url(../Deck/70px/suit.png);
}
.icon_64 .timer{
    background-image: url(../Deck/70px/timer.png);
}
.icon_64 .toolbox{
    background-image: url(../Deck/70px/toolbox.png);
}
.icon_64 .trash{
    background-image: url(../Deck/70px/trash.png);
}
.icon_64 .travel{
    background-image: url(../Deck/70px/travel.png);
}
.icon_64 .truck2{
    background-image: url(../Deck/70px/truck2.png);
}
.icon_64 .under-construction{
    background-image: url(../Deck/70px/under-construction.png);
}
.icon_64 .undo-blue{
    background-image: url(../Deck/70px/undo-blue.png);
}
.icon_64 .undo-green{
    background-image: url(../Deck/70px/undo-green.png);
}
.icon_64 .upload-blue{
    background-image: url(../Deck/70px/upload-blue.png);
}
.icon_64 .upload-green{
    background-image: url(../Deck/70px/upload-green.png);
}
.icon_64 .user-female{
    background-image: url(../Deck/70px/user-female.png);
}
.icon_64 .user-general{
    background-image: url(../Deck/70px/user-general.png);
}
.icon_64 .user-group{
    background-image: url(../Deck/70px/user-group.png);
}
.icon_64 .user-male{
    background-image: url(../Deck/70px/user-male.png);
}
.icon_64 .web{
    background-image: url(../Deck/70px/web.png);
}
.icon_64 .whiteboard{
    background-image: url(../Deck/70px/whiteboard.png);
}
.icon_64 .video-chat{
    background-image: url(../Deck/70px/video-chat.png);
}
.icon_64 .video-clapper{
    background-image: url(../Deck/70px/video-clapper.png);
}
.icon_64 .window{
    background-image: url(../Deck/70px/window.png);
}
.icon_64 .wireless{
    background-image: url(../Deck/70px/wireless.png);
}

.icon_48 .add-blue{
    background-image: url(../Deck/54px/add-blue_54px.png);
}
.icon_48 .add-green{
    background-image: url(../Deck/54px/add-green_54px.png);
}
.icon_48 .archive{
    background-image: url(../Deck/54px/archive_54px.png);
}
.icon_48 .arrow-down-blue{
    background-image: url(../Deck/54px/arrow-down-blue_54px.png);
}
.icon_48 .arrow-down-green{
    background-image: url(../Deck/54px/arrow-down-green_54px.png);
}
.icon_48 .arrow-left-blue{
    background-image: url(../Deck/54px/arrow-left-blue_54px.png);
}
.icon_48 .arrow-left-green{
    background-image: url(../Deck/54px/arrow-left-green_54px.png);
}
.icon_48 .arrow-right-blue{
    background-image: url(../Deck/54px/arrow-right-blue_54px.png);
}
.icon_48 .arrow-right-green{
    background-image: url(../Deck/54px/arrow-right-green_54px.png);
}
.icon_48 .arrow-up-blue{
    background-image: url(../Deck/54px/arrow-up-blue_54px.png);
}
.icon_48 .arrow-up-green{
    background-image: url(../Deck/54px/arrow-up-green_54px.png);
}
.icon_48 .blueprint{
    background-image: url(../Deck/54px/blueprint_54px.png);
}
.icon_48 .bookmark{
    background-image: url(../Deck/54px/bookmark_54px.png);
}
.icon_48 .bug{
    background-image: url(../Deck/54px/bug_54px.png);
}
.icon_48 .bulletin-board{
    background-image: url(../Deck/54px/bulletin-board_54px.png);
}
.icon_48 .calculator{
    background-image: url(../Deck/54px/calculator_54px.png);
}
.icon_48 .calendar{
    background-image: url(../Deck/54px/calendar_54px.png);
}
.icon_48 .chalkboard{
    background-image: url(../Deck/54px/chalkboard_54px.png);
}
.icon_48 .chart-bar{
    background-image: url(../Deck/54px/chart-bar_54px.png);
}
.icon_48 .chart-graph{
    background-image: url(../Deck/54px/chart-graph_54px.png);
}
.icon_48 .checkbox{
    background-image: url(../Deck/54px/checkbox_54px.png);
}
.icon_48 .clock{
    background-image: url(../Deck/54px/clock_54px.png);
}
.icon_48 .color-picker{
    background-image: url(../Deck/54px/color-picker_54px.png);
}
.icon_48 .comment{
    background-image: url(../Deck/54px/comment_54px.png);
}
.icon_48 .compass{
    background-image: url(../Deck/54px/compass_54px.png);
}
.icon_48 .contact{
    background-image: url(../Deck/54px/contact_54px.png);
}
.icon_48 .copy{
    background-image: url(../Deck/54px/copy_54px.png);
}
.icon_48 .credit-cards{
    background-image: url(../Deck/54px/credit-cards_54px.png);
}
.icon_48 .cut{
    background-image: url(../Deck/54px/cut_54px.png);
}
.icon_48 .dashboard{
    background-image: url(../Deck/54px/dashboard_54px.png);
}
.icon_48 .database{
    background-image: url(../Deck/54px/database_54px.png);
}
.icon_48 .delete{
    background-image: url(../Deck/54px/delete_54px.png);
}
.icon_48 .download-blue{
    background-image: url(../Deck/54px/download-blue_54px.png);
}
.icon_48 .download-green{
    background-image: url(../Deck/54px/download-green_54px.png);
}
.icon_48 .edit{
    background-image: url(../Deck/54px/edit_54px.png);
}
.icon_48 .envelop{
    background-image: url(../Deck/54px/envelop_54px.png);
}
.icon_48 .file{
    background-image: url(../Deck/54px/file_54px.png);
}
.icon_48 .finance{
    background-image: url(../Deck/54px/finance_54px.png);
}
.icon_48 .first-aid{
    background-image: url(../Deck/54px/first-aid_54px.png);
}
.icon_48 .folder{
    background-image: url(../Deck/54px/folder_54px.png);
}
.icon_48 .gift{
    background-image: url(../Deck/54px/gift_54px.png);
}
.icon_48 .harddrive{
    background-image: url(../Deck/54px/harddrive_54px.png);
}
.icon_48 .help-blue{
    background-image: url(../Deck/54px/help-blue_54px.png);
}
.icon_48 .help-green{
    background-image: url(../Deck/54px/help-green_54px.png);
}
.icon_48 .highlight{
    background-image: url(../Deck/54px/highlight_54px.png);
}
.icon_48 .history-blue{
    background-image: url(../Deck/54px/history-blue_54px.png);
}
.icon_48 .history-green{
    background-image: url(../Deck/54px/history-green_54px.png);
}
.icon_48 .home{
    background-image: url(../Deck/54px/home_54px.png);
}
.icon_48 .info-blue{
    background-image: url(../Deck/54px/info-blue_54px.png);
}
.icon_48 .info-green{
    background-image: url(../Deck/54px/info-green_54px.png);
}
.icon_48 .invoice{
    background-image: url(../Deck/54px/invoice_54px.png);
}
.icon_48 .ipad{
    background-image: url(../Deck/54px/ipad_54px.png);
}
.icon_48 .iphone{
    background-image: url(../Deck/54px/iphone_54px.png);
}
.icon_48 .ipod{
    background-image: url(../Deck/54px/ipod_54px.png);
}
.icon_48 .key{
    background-image: url(../Deck/54px/key_54px.png);
}
.icon_48 .keyboard{
    background-image: url(../Deck/54px/keyboard_54px.png);
}
.icon_48 .laptop{
    background-image: url(../Deck/54px/laptop_54px.png);
}
.icon_48 .loading{
    background-image: url(../Deck/54px/loading_54px.png);
}
.icon_48 .lock{
    background-image: url(../Deck/54px/lock_54px.png);
}
.icon_48 .love{
    background-image: url(../Deck/54px/love_54px.png);
}
.icon_48 .magic-wand{
    background-image: url(../Deck/54px/magic-wand_54px.png);
}
.icon_48 .mail{
    background-image: url(../Deck/54px/mail_54px.png);
}
.icon_48 .mail2{
    background-image: url(../Deck/54px/mail2_54px.png);
}
.icon_48 .mail-attachment{
    background-image: url(../Deck/54px/mail-attachment_54px.png);
}
.icon_48 .mailbox{
    background-image: url(../Deck/54px/mailbox_54px.png);
}
.icon_48 .mail-inbox{
    background-image: url(../Deck/54px/mail-inbox_54px.png);
}
.icon_48 .mail-outbox{
    background-image: url(../Deck/54px/mail-outbox_54px.png);
}
.icon_48 .map{
    background-image: url(../Deck/54px/map_54px.png);
}
.icon_48 .monitor{
    background-image: url(../Deck/54px/Monitor_54px.png);
}
.icon_48 .mouse{
    background-image: url(../Deck/54px/mouse_54px.png);
}
.icon_48 .music{
    background-image: url(../Deck/54px/music_54px.png);
}
.icon_48 .music2{
    background-image: url(../Deck/54px/music2_54px.png);
}
.icon_48 .music3{
    background-image: url(../Deck/54px/music3_54px.png);
}
.icon_48 .news{
    background-image: url(../Deck/54px/news_54px.png);
}
.icon_48 .notepad{
    background-image: url(../Deck/54px/notepad_54px.png);
}
.icon_48 .package{
    background-image: url(../Deck/54px/package_54px.png);
}
.icon_48 .package-delivery{
    background-image: url(../Deck/54px/package-delivery_54px.png);
}
.icon_48 .package-down{
    background-image: url(../Deck/54px/package-down_54px.png);
}
.icon_48 .package-open{
    background-image: url(../Deck/54px/package-open_54px.png);
}
.icon_48 .package-up{
    background-image: url(../Deck/54px/package-up_54px.png);
}
.icon_48 .palette{
    background-image: url(../Deck/54px/palette_54px.png);
}
.icon_48 .paste{
    background-image: url(../Deck/54px/paste_54px.png);
}
.icon_48 .photo{
    background-image: url(../Deck/54px/photo_54px.png);
}
.icon_48 .photo-album{
    background-image: url(../Deck/54px/photo-album_54px.png);
}
.icon_48 .pie-chart{
    background-image: url(../Deck/54px/pie-chart_54px.png);
}
.icon_48 .portfolio{
    background-image: url(../Deck/54px/portfolio_54px.png);
}
.icon_48 .post-note{
    background-image: url(../Deck/54px/post-note_54px.png);
}
.icon_48 .power{
    background-image: url(../Deck/54px/power_54px.png);
}
.icon_48 .preference{
    background-image: url(../Deck/54px/preference_54px.png);
}
.icon_48 .printer{
    background-image: url(../Deck/54px/printer_54px.png);
}
.icon_48 .profile-id{
    background-image: url(../Deck/54px/profile-id_54px.png);
}
.icon_48 .puzzle{
    background-image: url(../Deck/54px/puzzle_54px.png);
}
.icon_48 .redo-blue{
    background-image: url(../Deck/54px/redo-blue_54px.png);
}
.icon_48 .redo-green{
    background-image: url(../Deck/54px/redo-green_54px.png);
}
.icon_48 .reload{
    background-image: url(../Deck/54px/reload_54px.png);
}
.icon_48 .reload-green{
    background-image: url(../Deck/54px/reload-green_54px.png);
}
.icon_48 .repeat-blue{
    background-image: url(../Deck/54px/repeat-blue_54px.png);
}
.icon_48 .repeat-green{
    background-image: url(../Deck/54px/repeat-green_54px.png);
}
.icon_48 .rss{
    background-image: url(../Deck/54px/rss_54px.png);
}
.icon_48 .safe{
    background-image: url(../Deck/54px/safe_54px.png);
}
.icon_48 .save{
    background-image: url(../Deck/54px/save_54px.png);
}
.icon_48 .scan{
    background-image: url(../Deck/54px/scan_54px.png);
}
.icon_48 .security{
    background-image: url(../Deck/54px/security_54px.png);
}
.icon_48 .shopping-bag{
    background-image: url(../Deck/54px/shopping-bag_54px.png);
}
.icon_48 .shopping-basket{
    background-image: url(../Deck/54px/shopping-basket_54px.png);
}
.icon_48 .shuffle-blue{
    background-image: url(../Deck/54px/shuffle-blue_54px.png);
}
.icon_48 .shuffle-green{
    background-image: url(../Deck/54px/shuffle-green_54px.png);
}
.icon_48 .slideshow{
    background-image: url(../Deck/54px/slideshow_54px.png);
}
.icon_48 .speaker{
    background-image: url(../Deck/54px/speaker_54px.png);
}
.icon_48 .star{
    background-image: url(../Deck/54px/star_54px.png);
}
.icon_48 .stop{
    background-image: url(../Deck/54px/stop_54px.png);
}
.icon_48 .suit{
    background-image: url(../Deck/54px/suit_54px.png);
}
.icon_48 .timer{
    background-image: url(../Deck/54px/timer_54px.png);
}
.icon_48 .toolbox{
    background-image: url(../Deck/54px/toolbox_54px.png);
}
.icon_48 .trash{
    background-image: url(../Deck/54px/trash_54px.png);
}
.icon_48 .travel{
    background-image: url(../Deck/54px/travel_54px.png);
}
.icon_48 .truck2{
    background-image: url(../Deck/54px/truck2_54px.png);
}
.icon_48 .under-construction{
    background-image: url(../Deck/54px/under-construction_54px.png);
}
.icon_48 .undo-blue{
    background-image: url(../Deck/54px/undo-blue_54px.png);
}
.icon_48 .undo-green{
    background-image: url(../Deck/54px/undo-green_54px.png);
}
.icon_48 .upload-blue{
    background-image: url(../Deck/54px/upload-blue_54px.png);
}
.icon_48 .upload-green{
    background-image: url(../Deck/54px/upload-green_54px.png);
}
.icon_48 .user-female{
    background-image: url(../Deck/54px/user-female_54px.png);
}
.icon_48 .user-general{
    background-image: url(../Deck/54px/user-general_54px.png);
}
.icon_48 .user-group{
    background-image: url(../Deck/54px/user-group_54px.png);
}
.icon_48 .user-male{
    background-image: url(../Deck/54px/user-male_54px.png);
}
.icon_48 .web{
    background-image: url(../Deck/54px/web_54px.png);
}
.icon_48 .whiteboard{
    background-image: url(../Deck/54px/whiteboard_54px.png);
}
.icon_48 .video-chat{
    background-image: url(../Deck/54px/video-chat_54px.png);
}
.icon_48 .video-clapper{
    background-image: url(../Deck/54px/video-clapper_54px.png);
}
.icon_48 .window{
    background-image: url(../Deck/54px/window_54px.png);
}
.icon_48 .wireless{
    background-image: url(../Deck/54px/wireless_54px.png);
}

.icon_32 .add-blue{
    background-image: url(../Deck/35px/add-blue.png);
}
.icon_32 .add-green{
    background-image: url(../Deck/35px/add-green.png);
}
.icon_32 .archive{
    background-image: url(../Deck/35px/archive.png);
}
.icon_32 .arrow-down-blue{
    background-image: url(../Deck/35px/arrow-down-blue.png);
}
.icon_32 .arrow-down-green{
    background-image: url(../Deck/35px/arrow-down-green.png);
}
.icon_32 .arrow-left-blue{
    background-image: url(../Deck/35px/arrow-left-blue.png);
}
.icon_32 .arrow-left-green{
    background-image: url(../Deck/35px/arrow-left-green.png);
}
.icon_32 .arrow-right-blue{
    background-image: url(../Deck/35px/arrow-right-blue.png);
}
.icon_32 .arrow-right-green{
    background-image: url(../Deck/35px/arrow-right-green.png);
}
.icon_32 .arrow-up-blue{
    background-image: url(../Deck/35px/arrow-up-blue.png);
}
.icon_32 .arrow-up-green{
    background-image: url(../Deck/35px/arrow-up-green.png);
}
.icon_32 .blueprint{
    background-image: url(../Deck/35px/blueprint.png);
}
.icon_32 .bookmark{
    background-image: url(../Deck/35px/bookmark.png);
}
.icon_32 .bug{
    background-image: url(../Deck/35px/bug.png);
}
.icon_32 .bulletin-board{
    background-image: url(../Deck/35px/bulletin-board.png);
}
.icon_32 .calculator{
    background-image: url(../Deck/35px/calculator.png);
}
.icon_32 .calendar{
    background-image: url(../Deck/35px/calendar.png);
}
.icon_32 .chalkboard{
    background-image: url(../Deck/35px/chalkboard.png);
}
.icon_32 .chart-bar{
    background-image: url(../Deck/35px/chart-bar.png);
}
.icon_32 .chart-graph{
    background-image: url(../Deck/35px/chart-graph.png);
}
.icon_32 .checkbox{
    background-image: url(../Deck/35px/checkbox.png);
}
.icon_32 .clock{
    background-image: url(../Deck/35px/clock.png);
}
.icon_32 .color-picker{
    background-image: url(../Deck/35px/color-picker.png);
}
.icon_32 .comment{
    background-image: url(../Deck/35px/comment.png);
}
.icon_32 .compass{
    background-image: url(../Deck/35px/compass.png);
}
.icon_32 .contact{
    background-image: url(../Deck/35px/contact.png);
}
.icon_32 .copy{
    background-image: url(../Deck/35px/copy.png);
}
.icon_32 .credit-cards{
    background-image: url(../Deck/35px/credit-cards.png);
}
.icon_32 .cut{
    background-image: url(../Deck/35px/cut.png);
}
.icon_32 .dashboard{
    background-image: url(../Deck/35px/dashboard.png);
}
.icon_32 .database{
    background-image: url(../Deck/35px/database.png);
}
.icon_32 .delete{
    background-image: url(../Deck/35px/delete.png);
}
.icon_32 .download-blue{
    background-image: url(../Deck/35px/download-blue.png);
}
.icon_32 .download-green{
    background-image: url(../Deck/35px/download-green.png);
}
.icon_32 .edit{
    background-image: url(../Deck/35px/edit.png);
}
.icon_32 .envelop{
    background-image: url(../Deck/35px/envelop.png);
}
.icon_32 .file{
    background-image: url(../Deck/35px/file.png);
}
.icon_32 .finance{
    background-image: url(../Deck/35px/finance.png);
}
.icon_32 .first-aid{
    background-image: url(../Deck/35px/first-aid.png);
}
.icon_32 .folder{
    background-image: url(../Deck/35px/folder.png);
}
.icon_32 .gift{
    background-image: url(../Deck/35px/gift.png);
}
.icon_32 .harddrive{
    background-image: url(../Deck/35px/harddrive.png);
}
.icon_32 .help-blue{
    background-image: url(../Deck/35px/help-blue.png);
}
.icon_32 .help-green{
    background-image: url(../Deck/35px/help-green.png);
}
.icon_32 .highlight{
    background-image: url(../Deck/35px/highlight.png);
}
.icon_32 .history-blue{
    background-image: url(../Deck/35px/history-blue.png);
}
.icon_32 .history-green{
    background-image: url(../Deck/35px/history-green.png);
}
.icon_32 .home{
    background-image: url(../Deck/35px/home.png);
}
.icon_32 .info-blue{
    background-image: url(../Deck/35px/info-blue.png);
}
.icon_32 .info-green{
    background-image: url(../Deck/35px/info-green.png);
}
.icon_32 .invoice{
    background-image: url(../Deck/35px/invoice.png);
}
.icon_32 .ipad{
    background-image: url(../Deck/35px/ipad.png);
}
.icon_32 .iphone{
    background-image: url(../Deck/35px/iphone.png);
}
.icon_32 .ipod{
    background-image: url(../Deck/35px/ipod.png);
}
.icon_32 .key{
    background-image: url(../Deck/35px/key.png);
}
.icon_32 .keyboard{
    background-image: url(../Deck/35px/keyboard.png);
}
.icon_32 .laptop{
    background-image: url(../Deck/35px/laptop.png);
}
.icon_32 .loading{
    background-image: url(../Deck/35px/loading.png);
}
.icon_32 .lock{
    background-image: url(../Deck/35px/lock.png);
}
.icon_32 .love{
    background-image: url(../Deck/35px/love.png);
}
.icon_32 .magic-wand{
    background-image: url(../Deck/35px/magic-wand.png);
}
.icon_32 .mail{
    background-image: url(../Deck/35px/mail.png);
}
.icon_32 .mail2{
    background-image: url(../Deck/35px/mail2.png);
}
.icon_32 .mail-attachment{
    background-image: url(../Deck/35px/mail-attachment.png);
}
.icon_32 .mailbox{
    background-image: url(../Deck/35px/mailbox.png);
}
.icon_32 .mail-inbox{
    background-image: url(../Deck/35px/mail-inbox.png);
}
.icon_32 .mail-outbox{
    background-image: url(../Deck/35px/mail-outbox.png);
}
.icon_32 .map{
    background-image: url(../Deck/35px/map.png);
}
.icon_32 .monitor{
    background-image: url(../Deck/35px/Monitor.png);
}
.icon_32 .mouse{
    background-image: url(../Deck/35px/mouse.png);
}
.icon_32 .music{
    background-image: url(../Deck/35px/music.png);
}
.icon_32 .music2{
    background-image: url(../Deck/35px/music2.png);
}
.icon_32 .music3{
    background-image: url(../Deck/35px/music3.png);
}
.icon_32 .news{
    background-image: url(../Deck/35px/news.png);
}
.icon_32 .notepad{
    background-image: url(../Deck/35px/notepad.png);
}
.icon_32 .package{
    background-image: url(../Deck/35px/package.png);
}
.icon_32 .package-delivery{
    background-image: url(../Deck/35px/package-delivery.png);
}
.icon_32 .package-down{
    background-image: url(../Deck/35px/package-down.png);
}
.icon_32 .package-open{
    background-image: url(../Deck/35px/package-open.png);
}
.icon_32 .package-up{
    background-image: url(../Deck/35px/package-up.png);
}
.icon_32 .palette{
    background-image: url(../Deck/35px/palette.png);
}
.icon_32 .paste{
    background-image: url(../Deck/35px/paste.png);
}
.icon_32 .photo{
    background-image: url(../Deck/35px/photo.png);
}
.icon_32 .photo-album{
    background-image: url(../Deck/35px/photo-album.png);
}
.icon_32 .pie-chart{
    background-image: url(../Deck/35px/pie-chart.png);
}
.icon_32 .portfolio{
    background-image: url(../Deck/35px/portfolio.png);
}
.icon_32 .post-note{
    background-image: url(../Deck/35px/post-note.png);
}
.icon_32 .power{
    background-image: url(../Deck/35px/power.png);
}
.icon_32 .preference{
    background-image: url(../Deck/35px/preference.png);
}
.icon_32 .printer{
    background-image: url(../Deck/35px/printer.png);
}
.icon_32 .profile-id{
    background-image: url(../Deck/35px/profile-id.png);
}
.icon_32 .puzzle{
    background-image: url(../Deck/35px/puzzle.png);
}
.icon_32 .redo-blue{
    background-image: url(../Deck/35px/redo-blue.png);
}
.icon_32 .redo-green{
    background-image: url(../Deck/35px/redo-green.png);
}
.icon_32 .reload{
    background-image: url(../Deck/35px/reload.png);
}
.icon_32 .reload-green{
    background-image: url(../Deck/35px/reload-green.png);
}
.icon_32 .repeat-blue{
    background-image: url(../Deck/35px/repeat-blue.png);
}
.icon_32 .repeat-green{
    background-image: url(../Deck/35px/repeat-green.png);
}
.icon_32 .rss{
    background-image: url(../Deck/35px/rss.png);
}
.icon_32 .safe{
    background-image: url(../Deck/35px/safe.png);
}
.icon_32 .save{
    background-image: url(../Deck/35px/save.png);
}
.icon_32 .scan{
    background-image: url(../Deck/35px/scan.png);
}
.icon_32 .security{
    background-image: url(../Deck/35px/security.png);
}
.icon_32 .shopping-bag{
    background-image: url(../Deck/35px/shopping-bag.png);
}
.icon_32 .shopping-basket{
    background-image: url(../Deck/35px/shopping-basket.png);
}
.icon_32 .shuffle-blue{
    background-image: url(../Deck/35px/shuffle-blue.png);
}
.icon_32 .shuffle-green{
    background-image: url(../Deck/35px/shuffle-green.png);
}
.icon_32 .slideshow{
    background-image: url(../Deck/35px/slideshow.png);
}
.icon_32 .speaker{
    background-image: url(../Deck/35px/speaker.png);
}
.icon_32 .star{
    background-image: url(../Deck/35px/star.png);
}
.icon_32 .stop{
    background-image: url(../Deck/35px/stop.png);
}
.icon_32 .suit{
    background-image: url(../Deck/35px/suit.png);
}
.icon_32 .timer{
    background-image: url(../Deck/35px/timer.png);
}
.icon_32 .toolbox{
    background-image: url(../Deck/35px/toolbox.png);
}
.icon_32 .trash{
    background-image: url(../Deck/35px/trash.png);
}
.icon_32 .travel{
    background-image: url(../Deck/35px/travel.png);
}
.icon_32 .truck2{
    background-image: url(../Deck/35px/truck2.png);
}
.icon_32 .under-construction{
    background-image: url(../Deck/35px/under-construction.png);
}
.icon_32 .undo-blue{
    background-image: url(../Deck/35px/undo-blue.png);
}
.icon_32 .undo-green{
    background-image: url(../Deck/35px/undo-green.png);
}
.icon_32 .upload-blue{
    background-image: url(../Deck/35px/upload-blue.png);
}
.icon_32 .upload-green{
    background-image: url(../Deck/35px/upload-green.png);
}
.icon_32 .user-female{
    background-image: url(../Deck/35px/user-female.png);
}
.icon_32 .user-general{
    background-image: url(../Deck/35px/user-general.png);
}
.icon_32 .user-group{
    background-image: url(../Deck/35px/user-group.png);
}
.icon_32 .user-male{
    background-image: url(../Deck/35px/user-male.png);
}
.icon_32 .web{
    background-image: url(../Deck/35px/web.png);
}
.icon_32 .whiteboard{
    background-image: url(../Deck/35px/whiteboard.png);
}
.icon_32 .video-chat{
    background-image: url(../Deck/35px/video-chat.png);
}
.icon_32 .video-clapper{
    background-image: url(../Deck/35px/video-clapper.png);
}
.icon_32 .window{
    background-image: url(../Deck/35px/window.png);
}
.icon_32 .wireless{
    background-image: url(../Deck/35px/wireless.png);
}