#wrap{
    z-index: 1;
}
#switcher{
    position: fixed;
    top: 0;
    left: -192px;
    height: 100%;
    width: 200px;
    z-index: 9;
}
#handle{
    height: 57px;
    width: 54px;
    left: 189px;
    overflow: hidden;
    position: absolute;
    top: 18px;
    z-index: 8;
    background-color: #ebebeb;
    background-image: -webkit-gradient(linear, left bottom, left bottom, from(#fff), to(#ebebeb)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fff, #ebebeb); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #fff, #ebebeb); /* FF3.6+ */
    background-image:      -o-linear-gradient(top, #fff, #ebebeb); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #fff, #ebebeb);
    box-shadow: 0 0 2px 0 #ccc inset;
    border: 1px solid;
    border-color: #fff;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
#handle span{
    display: block;
    height: 54px;
    width: 54px;
    background-image: url('../tools-icon.png');
    background-repeat: no-repeat;
    background-position: 10px;
    opacity: 0.75; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=75); /* IE6-IE8 */
}
#handle:hover span,
#handle.active span{
    opacity: 0.95; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=95); /* IE6-IE8 */
}
#theme-switcher{
    position: relative;
    color: #555;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	width: 160px;
	height: auto;
	margin: 10px 0 0 10px;
 	padding: 10px 10px 10px 10px ;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left bottom, left bottom, from(#fff), to(#ebebeb)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fff, #ebebeb); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #fff, #ebebeb); /* FF3.6+ */
    background-image:      -o-linear-gradient(top, #fff, #ebebeb); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #fff, #ebebeb);
    box-shadow: 0 0 2px 0 #ccc inset;
    border: 1px solid;
    border-color: #fff;
 	z-index: 9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#theme-switcher p{
    margin-top: 0;
    margin-bottom: 9px;
}
#theme-switcher ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 9px; 
}
#theme-switcher ul li{
    margin-bottom: 0;
    list-style: none;
}
ul.predefined li{
	float: left;
    padding: 1px;
}
ul.predefined li a{
    color: #fafafa;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
	width: 76px;
	height: 26px;
	display: block;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4) inset;  
}
ul.predefined li a:hover{
    text-decoration: underline;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset;    
}
.colpkr{
	display: block;
	float: left;
}
/*
select{
	font-family: sans-serif;
	width: 100%;
	display: block;
	margin-bottom: 9px;
	border: 1px solid #ccc;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
 Clearing
================================================== */

.clearfix:before,
.clearfix:after{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix {
  zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}