/** { margin: 0; padding: 0; }

body {
	background: #ccc;
	}

header {
	display: block;
	background: #777;
	height: 50px;
	position: relative;
	min-width: 600px;
	}
	
	header h1 {
		font: bold 24px Arial, Helvetica, sans-serif;
		color: #fff;
		position: absolute;
		left: 20px;
		top: 8px;
		}*/

#country-select {
	/*position: absolute;*/
	/*top: 13px;*/
	right: 0;
	margin-top: 1px;
	
	/*width: 180px;*/
	
	float:right;
/*margin-right:48px;*/
	}

/* rought form styles for when JS is disabled */

#country-select form {
	width: 180px;
	padding: 0;
	}

#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
	}
	
/* JS-created definition list */

.dropdown dd { position: relative; }

.dropdown a {
	text-decoration: none;
	outline: 0;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	width: 130px;
	overflow: hidden;
	}

.dropdown dt a {
	background: #fff;
	border: 1px solid #fff;
	padding: 3px 10px 4px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	}

	.dropdown dt a.active {
		background: #fff;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px dotted #676768;
		-moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
		-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
		box-shadow: 0 3px 7px rgba(0,0,0,.5);
		color: #000;
		}

.dropdown dd ul {
	background: #fff;
	border: 1px solid #676768;
	color: #C5C0B0;
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	padding: 2px 0 5px 0;
	list-style: none;
	border-top: none;
	margin: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
	box-shadow: 0 3px 7px rgba(0,0,0,.5);
	}

	.dropdown dd ul li a {
		padding: 2px 10px;
		}

	.dropdown dd ul li a span,
	.dropdown dt a span {
		float: left;
		width: 25px;
		height: 18px;
		margin: 2px 6px 0 0;
		background-image: url(../../images/flags/flag.png);
		background-repeat: no-repeat;
		cursor: pointer;
		}
		
		

		.us a span { background-position: 0 0 }
		.uk a span { background-position: 0 0  }
		.fr span { float: left;
		width: 25px;
		height: 18px;
		margin: 2px 6px 0 0;
		 background-image: url(../../images/flags/flag.png); 
		 background-repeat: no-repeat;
		 background-position: -75px 0;  }
		.de a span { background-position: -48px 0 }
		.pt span { float: left;
		width: 25px;
		height: 18px;
		margin: 2px 6px 0 0;
		 background-image: url(../../images/flags/flag.png); 
		 background-repeat: no-repeat; background-position: -100px 0 }
		.es a span { background-position: -50px 0;  }
		.ch a span { background-position: -112px 0 }
		.ru span { float: left;
		width: 25px;
		height: 18px;
		margin: 2px 6px 0 0;
		 background-image: url(../../images/flags/flag.png); 
		 background-repeat: no-repeat; background-position: -25px 0; opacity:0.5 }
		
		.pt em,.fr em, .ru em { color:#999999; opacity:0.5;font-style: normal;
		float: left;
		width: 85px;
		cursor: pointer;
		padding-top:3px; }
		
		.pt,.ru,.fr{ display:inline-block; padding-left:10px; }

	.dropdown dd ul li a em,
	.dropdown dt a em {
		font-style: normal;
		float: left;
		width: 90px;
		cursor: pointer;
		padding-top:3px;
		}
    .dropdown dd ul li{ bottom:8px }
	.dropdown dd ul li a em {
		color: #333;
		}

		.dropdown dd ul li a:hover { background-color: #fff; }
		.dropdown dd ul li a:hover em {  }
		
